<section ng-controller="mainController as vm">
    
    <div id="options">
        
    </div>
    
    <div id="slides-container">
        <div class="slide" ng-repeat="slide in vm.slides">
            <select ng-model="slide.slideType" ng-options="opt.key as opt.text for opt in ::vm.slideTypes"></select>
            <input type="text" placeholder="title" ng-model="slide.title" />
            <textarea placeholder="content" ng-model="slide.content"></textarea>
            <button type="button" ng-if="$index > 0" ng-click="vm.removeSlide(slide)">
                Remove
            </button>
        </div>
        
        <button type="button" class="slide-add-btn" ng-click="vm.addSlide()">
            +
        </button>
    </div>
    
    <button type="button" ng-click="vm.getFile()">
        Download
    </button>
    
    <textarea ng-model="vm.fileText"></textarea>
</section>