<section ng-controller="mainController as vm">
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">File Configuration</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label for="config-category">Category</label>
                        <input type="text" id="config-category" class="form-control" ng-model="vm.fileConfig.category">
                    </div>
                    <div class="form-group">
                        <label for="config-title">Title</label>
                        <input type="text" id="config-title" class="form-control" ng-model="vm.fileConfig.title">
                    </div>
                    <div class="form-group">
                        <label for="config-dimentions-w">Dimentions</label>
                        <div class="input-group">
                            <input type="text" id="config-dimentions-w" placeholder="width" class="form-control" ng-model="vm.fileConfig.width">
                            <span class="input-group-addon">&times;</span>
                            <input type="text" id="config-dimentions-h" placeholder="height" class="form-control" ng-model="vm.fileConfig.height">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label for="config-title-font">Slide Title Font</label>
                        <input type="text" id="config-title-font" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideTitle.fontName">
                    </div>
                    <div class="form-group">
                        <label for="config-title-size-w">Slide Title Size</label>
                        <div class="input-group">
                            <input type="text" id="config-title-size-w" placeholder="width" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideTitle.width">
                            <span class="input-group-addon">&times;</span>
                            <input type="text" id="config-title-size-h" placeholder="height" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideTitle.height">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="config-title-pos-x">Slide Title Position</label>
                        <div class="input-group">
                            <input type="text" id="config-title-pos-x" placeholder="X" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideTitle.posX">
                            <span class="input-group-addon">&times;</span>
                            <input type="text" id="config-title-pos-y" placeholder="Y" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideTitle.posY">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="form-group">
                        <label for="config-content-font">Slide Content Font</label>
                        <input type="text" id="config-content-font" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideContent.fontName">
                    </div>
                    <div class="form-group">
                        <label for="config-content-size-w">Slide Content Size</label>
                        <div class="input-group">
                            <input type="text" id="config-content-size-w" placeholder="width" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideContent.width">
                            <span class="input-group-addon">&times;</span>
                            <input type="text" id="config-content-size-h" placeholder="height" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideContent.height">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="config-content-pos-x">Slide Content Position</label>
                        <div class="input-group">
                            <input type="text" id="config-content-pos-x" placeholder="X" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideContent.posX">
                            <span class="input-group-addon">&times;</span>
                            <input type="text" id="config-content-pos-y" placeholder="Y" class="form-control" ng-model="vm.fileConfig.displayElementConfigs.slideContent.posY">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Slides</h3>
        </div>
        <div class="panel-body">
            <div id="slides-container">
                <div class="slide" ng-repeat="slide in vm.slides">
                    <!--<select class="form-control" ng-model="slide.slideType" ng-options="opt.key as opt.text for opt in ::vm.slideTypes"></select>-->
                    <input type="text" class="form-control" placeholder="title" ng-model="slide.title" />
                    <textarea class="form-control" placeholder="content" ng-model="slide.content"></textarea>
                    <button type="button" class="btn btn-danger btn-sm" ng-if="$index > 0" ng-click="vm.removeSlide(slide)">
                        Remove
                    </button>
                </div>
                
                <button type="button" class="slide-add-btn" ng-click="vm.addSlide()">
                    +
                </button>
            </div>
        </div>
    </div>
    
    <a class="btn btn-primary btn-lg" download="file.pro5" ng-click="vm.generateFile()" ng-href="{{vm.fileContents}}">
        <span class="glyphicon glyphicon-save-file"></span>
        Download
    </button>
</section>